@{
    var displayName = HttpContext.Current.Session["displayname"] != null ? HttpContext.Current.Session["displayname"].ToString() : string.Empty;
    var emailAddress = HttpContext.Current.Session["emailaddress"] != null ? HttpContext.Current.Session["emailaddress"].ToString() : string.Empty;
    //var notificationCount = new NotificationManagement().GetUnreadNotificationCount();
    var appLogo = GlobalAppSettings.SystemSettings.StorageType == (int)StorageType.AzureBlob ?
                    GlobalAppSettings.AzureBlob.AzureBlobStorageUri + "/" + GlobalAppSettings.AzureBlob.AzureBlobStorageContainerName + "/" + GlobalAppSettings.GetStorageMode() + "/Content/Images/Application/" + GlobalAppSettings.SystemSettings.MainScreenLogo :
                    Url.Content("~/Content/Images/Application/" + GlobalAppSettings.SystemSettings.MainScreenLogo);
    var defaultAppLogo = Url.Content("~/Content/Images/Application/Main_Logo.png");

    //var requestUrl = HttpContext.Current.Request.Url.ToString();
    //var absolutePath = HttpContext.Current.Request.Url.AbsolutePath;

    var userId = HttpContext.Current != null && HttpContext.Current.User != null && !(HttpContext.Current.User is RolePrincipal) ? ((ServerPrincipal)HttpContext.Current.User).UserId : 0;
    var umslangtag = Response.Cookies["i18n.umslangtag"].Value;
}

<div class="header-bar col-lg-12 col-md-12 col-sm-12">
    <div class="main-screen-logo mobile-hidden">
        <a class="dropdown-toggle application-navigation" data-toggle="dropdown" title="[[[Application navigation]]]">
            <span>
                <i class="su su-apps-menu application-navigation-logo"></i>
            </span>
        </a>
        <div class="dropdown-menu" id="app-list">
            <ul id="application-list"></ul>
            <span class="app-loading-text">[[[Loading...]]]</span>
        </div>
    </div>
    <div class="mobile-menu-icon text-center mobile-visible collapsed" data-toggle="collapse" aria-expanded="false" data-target="#menu-area">
        <span>
            <i class="su su-mobile-menu-icon"></i>
        </span>
    </div>
    <div class="org-name-wrapper">
        <a href="@Url.Action("Index", "Home")" class="home-link" title="@GlobalAppSettings.SystemSettings.OrganizationName">
            <h5 class="header-org-name">@GlobalAppSettings.SystemSettings.OrganizationName</h5>
        </a>
    </div>

    <div class="user-account mobile-hidden">
        <div id="account-profile" class="dropdown no-padding">
            <span class="dropdown-toggle" data-toggle="dropdown">
                <span class="profile-picture">
                    <div class="lazyload img-loader" data-src="@(Url.Content("~/" + umslangtag + "/User/Avatar?Username=" + (((ServerPrincipal)HttpContext.Current.User).UserId)+"&ImageSize=32"))" data-alt="Profile Picture" data-default="" data-id="" style="margin:4px;"></div>
                </span>
            </span>
            <div class="dropdown-menu" id="profile-info-section" role="menu">
                <div class="profile-info col-lg-12">
                    <table>
                        <tbody>
                            <tr>
                                <td class="profile-picture-area">
                                    @if (userId != 0)
    {
                                <div class="lazyload img-loader" data-src="@(Url.Content("~/" + umslangtag + "/User/Avatar?Username=" + (((ServerPrincipal)HttpContext.Current.User).UserId)+"&ImageSize=110"))" data-alt="Profile Picture" data-default="" data-id=""></div>
}
                                </td>
                                <td class="profile-info-area">
                                    <ul class="no-margin no-padding">
                                        <li id="profile-name">@displayName</li>
                                        <li id="profile-email">@emailAddress</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="profile-buttons">
                    <a href="@Url.Action("Profilepage", "User")" class="profile-menu-action col-lg-6" title="[[[View my profile]]]" data-toggle="tooltip" data-placement="bottom">
                        [[[PROFILE]]]
                    </a>
                    <a href="@Url.Action("logout", "accounts")" class="profile-menu-action col-lg-6" title="[[[Log out]]]" data-toggle="tooltip" data-placement="bottom">
                        [[[LOG OUT]]]
                    </a>
                </div>
            </div>
        </div>
    </div>

    @*@if (!DeviceDetection.IsMobile)
        {
            <div class="pull-right" id="notification-section">
                <div id="notification-link" class="dropdown no-padding">
                    <span id="notification-icon" class="su su-notification-alert dropdown-toggle" data-toggle="dropdown">
                        @if (notificationCount != 0)
                            {
                            <span id="notification-indicator"></span>
                            }
                    </span>
                    <div id="notification-content-area" class="dropdown-menu notification-content-area" role="menu">
                        <div id="notification-header">
                            <span> [[[Notifications]]]</span>
                            <a href="@Url.Action("getusernotifications", "notification")">[[[View all]]]</a>
                        </div>
                        <iframe id="notification-list" class="notification-list"></iframe>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="pull-right" id="notification-section">
                <a id="notification-link" class="notification-mobile-link no-padding" href="@Url.Action("getusernotifications", "notification")">
                    <span id="notification-icon" class="su su-notification-alert">
                        @if (notificationCount != 0)
                            {
                                <span id="notification-indicator"></span>
                            }
                    </span>
                </a>
            </div>
        }*@
</div>