@{
    var displayName = HttpContext.Current.Session["displayname"] != null ? HttpContext.Current.Session["displayname"].ToString() : string.Empty;

    var currentUrlLocalPath = HttpContext.Current.Request.Url.LocalPath.ToLower();

    var currentUrl = HttpContext.Current.Request.Url.ToString().TrimEnd('/');

    var isImageRequest = currentUrl.IndexOf(".png", StringComparison.CurrentCultureIgnoreCase) > 0 ||
                         currentUrl.IndexOf(".jpg", StringComparison.CurrentCultureIgnoreCase) > 0 ||
                         currentUrl.IndexOf(".gif", StringComparison.CurrentCultureIgnoreCase) > 0;

    var profilePageUrl = Url.Action("Profilepage", "User");

    var isAdmin = HttpContext.Current.Session["IsAdmin"] != null && Convert.ToBoolean(HttpContext.Current.Session["IsAdmin"]);

    var userId = HttpContext.Current != null && HttpContext.Current.User != null && !(HttpContext.Current.User is RolePrincipal) ? ((ServerPrincipal)HttpContext.Current.User).UserId : 0;

}

<aside class="menu-bar" id="app-navigation">
    <nav id="main-nav">
        <a id="mobile-profile-picture" href="@profilePageUrl" class="mobile-visible">
            <div class="mobile-display-name">@displayName</div>
            <img alt="Profile Picture" width="175" src="@Url.Content("~/User/Avatar?Username=" + userId + "&ImageSize=110")" />

        </a>
        <ul id="items-menu">
            <li>
                <a class="@((currentUrl.IndexOf(Url.Action("Index", "Home"), StringComparison.CurrentCultureIgnoreCase) > 0 || currentUrlLocalPath == "/") && currentUrl.IndexOf(Url.Action("Administration", "Administration"), StringComparison.CurrentCultureIgnoreCase) < 0 ? "active" : string.Empty)" href="@Url.Action("Index", "Home")" data-toggle="tooltip" data-placement="right" data-container="body" title="[[[Home]]]">
                    <i class="su su-nav-home"></i>
                    <span class="menu-label mobile-visible">[[[Home]]]</span>
                </a>
            </li>
            @if (isAdmin || ApplicationManagementModel.IsAppAdmin(userId))
            {
                <li>
                    <a class="@(currentUrl.IndexOf(Url.Action("Index", "Application"), StringComparison.CurrentCultureIgnoreCase) > 0 ? "active" : string.Empty)" href="@Url.Action("Index", "Application")" data-toggle="tooltip" data-placement="right" data-container="body" title="[[[Application Management]]]">
                        <i class="su su-applications"></i>
                        <span class="menu-label mobile-visible">[[[Applications]]]</span>
                    </a>
                </li>
            }
            @if (isAdmin)
            {
                <li>
                    <a class="@(currentUrl.IndexOf(Url.Action("Index", "UserManagement"), StringComparison.CurrentCultureIgnoreCase) > 0 ? "active" : string.Empty)" href="@Url.Action("Index", "UserManagement")" data-toggle="tooltip" data-placement="right" data-container="body" title="[[[User Management]]]">
                        <i class="su su-nav-user-management"></i>
                        <span class="menu-label mobile-visible">[[[User Management]]]</span>
                    </a>
                </li>
            }
            <li class="li-logout">
                <img src="@Url.Content("~/Content/Images/divider_dark.png")" class="upper-divider" />
                <a class="" href="@Url.Action("logout", "accounts")" data-toggle="@(!DeviceDetection.IsMobile ? "" : "tooltip")" data-placement="right" data-container="body" title="[[[Log out]]]">
                    <i class="su su-logout"></i>
                    <span class="menu-label mobile-visible">[[[Log out]]]</span>
                </a>
            </li>
        </ul>
        @if (isImageRequest == false && !DeviceDetection.IsMobile)
            {
            <ul id="administration-menu" class="mobile-hidden">
                @if (isAdmin)
                {
                    <li>
                        <a class="@(currentUrl.IndexOf(Url.Action("Administration", "Administration"), StringComparison.CurrentCultureIgnoreCase) > 0 && currentUrl.IndexOf(Url.Action("Index", "UserManagement"), StringComparison.CurrentCultureIgnoreCase) < 0 ? "active" : string.Empty)" href="@Url.Action("Administration", "Administration")" data-toggle="tooltip" data-placement="right" data-container="body" title="[[[Settings]]]">
                            <i class="su su-nav-settings"></i>
                        </a>
                    </li>
                }
            </ul>
        }
    </nav>
</aside>


