@model PasswordSettings
@{
    var passwordSettings = ViewBag.PasswordSettings;
}
<div id="password-setting-body">
    <div class="field-container">
        <div class="col-xs-12 password-info">
            <label class="text col-lg-3 col-md-3 no-padding">[[[Upper Case]]]</label>
            <div class="col-xs-3 switch-align">
                <span class="material-switch text-left">
                    <input id="upper-case" name="enable_uppercase" type="checkbox" @(passwordSettings.EnableUpperCase==PasswordPreferenceOption.Enable ? "checked" : string.Empty) />
                    <label for="upper-case" class="label-primary"></label>
                </span>
            </div>
        </div>
        <div class="col-xs-12 password-info">
            <label class="text col-lg-3 col-md-3 no-padding">[[[Lower Case]]]</label>
            <div class="col-xs-3 switch-align">
                <span class="material-switch text-left">
                    <input id="lower-case" name="enable_lowercase" type="checkbox" @(passwordSettings.EnableLowerCase==PasswordPreferenceOption.Enable ? "checked" : string.Empty) />
                    <label for="lower-case" class="label-primary"></label>
                </span>
            </div>
        </div>
        <div class="col-xs-12 password-info">
            <label class="text col-lg-3 col-md-3 no-padding">[[[Number]]]</label>
            <div class="col-xs-3 switch-align">
                <span class="material-switch text-left">
                    <input id="numeric" name="enable_numeric" type="checkbox" @(passwordSettings.EnableNumber==PasswordPreferenceOption.Enable ? "checked" : string.Empty) />
                    <label for="numeric" class="label-primary"></label>
                </span>
            </div>
        </div>
        <div class="col-xs-12 password-info">
            <label class="text col-lg-3 col-md-3 no-padding">[[[Special Characters]]]</label>
            <div class="col-xs-3 switch-align">
                <span class="material-switch text-left">
                    <input id="special-characters" name="enable_specialcharacters" type="checkbox" @(passwordSettings.EnableSpecialCharacters==PasswordPreferenceOption.Enable ? "checked" : string.Empty) />
                    <label for="special-characters" class="label-primary"></label>
                </span>
            </div>
        </div>
        <div class="col-xs-12 password-info">
            <label class="text col-lg-3 col-md-3 no-padding">[[[Minimum Length]]]</label>
            <div class="cls-day pull-left col-xs-3">
                @Html.TextBox("min-len", (int)passwordSettings.MinimumLength, new { @class = "numeric-text-box pull-left" })
            </div>
        </div>
        <div class="col-xs-12 password-info">
            <label class="text col-lg-3 col-md-3 no-padding">[[[Does not contain part of name, user name, or email address]]]</label>
            <div class="col-xs-3 switch-align">
                <span class="material-switch text-left">
                    <input id="substring" name="enable_substring" type="checkbox" @(passwordSettings.EnablePartOfUserName == PasswordPreferenceOption.Enable ? "checked" : string.Empty) />
                    <label for="substring" class="label-primary"></label>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12">
    <a href="/" class="secondary-button pull-right" id="cancel-password-settings" title="">[[[Cancel]]]</a>
    <button type="button" title="" id="update-password-settings" name="UpdatePasswordSettings" class="primary-button pull-right">
        <span>[[[Save]]]</span>
    </button>
</div>